.b1 {
  background-image: url("./assets/images/ps5-slim-goedkope-playstation_large 1.png");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  width: 570px;
  height: 600px;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 20px;
}

.b2 {
  background-image: url("./assets/images/attractive-woman-wearing-hat-posing-black-background\ 1.png");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  width: 570px;
  height: 284px;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 20px;
}

.b3 {
  background-image: url("./assets/images/Frame\ 707.png");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  width: 270px;
  height: 284px;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 20px;
}

.b4 {
  background-image: url("./assets/images/Frame\ 706.png");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  width: 270px;
  height: 284px;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 20px;
}

@media (max-width: 768px) {
  .b1 {
    margin-bottom: 20px;
    width: 360px;
    height: 287px;
  }
  .b2 {
    margin-bottom: 20px;
    width: 360px;
    height: 287px;
  }
  .b3 {
    margin-bottom: 20px;
    width: 360px;
    height: 287px;
  }
  .b4 {
    margin-bottom: 20px;
    width: 360px;
    height: 287px;
  }
}
